<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <merchante>
                <active>0</active>
                <debug>1</debug>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <model>MerchanteFacade</model>
                <order_status>processing</order_status>
                <paymentInfoKeys>cc_type,cc_number,transaction_id,error_code,avs_result,auth_code,auth_response_text,cvv2_result</paymentInfoKeys>
                <privateInfoKeys>error_code,avs_result,auth_code,auth_response_text,cvv2_result</privateInfoKeys>
                <payment_action>authorize</payment_action>
                <title>Credit Card (MerchantE)</title>
                <currency>USD</currency>
                <profile_id/>
                <profile_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <user_id/>
                <user_pass/>
                <useccv>1</useccv>
                <cctypes>VI,MC,AE,DI,UN</cctypes>
                <avs_result_non_risk><![CDATA[{"Y":"street and postal code match", "A":"address match, zip mismatch", "D":"exact match, international", "X":"street and postal code match"}]]></avs_result_non_risk>
                <avs_result_risk><![CDATA[{"N":"address and zip mismatch", "Z":"address mismatch, 5-digit zip match", "W":"address mismatch, zip match", "U":"address unavailable"}]]></avs_result_risk>
                <cctypes_merchante_mapper><![CDATA[{"american-express":"AE","discover":"DI","jcb":"JCB","mastercard":"MC","master-card":"MC","visa":"VI","maestro":"MI","diners-club":"DN","unionpay":"UN"}]]></cctypes_merchante_mapper>
                <environment>test</environment>
                <environment_live_url><![CDATA[https://api.merchante-solutions.com/mes-api/tridentApi]]></environment_live_url>
                <environment_cert_url><![CDATA[https://cert.merchante-solutions.com/mes-api/tridentApi]]></environment_cert_url>
                <environment_test_url><![CDATA[https://test.merchante-solutions.com/mes-api/tridentApi]]></environment_test_url>
                <use_level_iii>0</use_level_iii>
                <client_reference_number>Order #[orderid]</client_reference_number>
                <allowspecific>0</allowspecific>
                <group>merchante_group</group>
            </merchante>
            <merchante_cc_vault>
                <model>MerchanteCreditCardVaultFacade</model>
                <title>Stored Cards (MerchantE)</title>
                <group>merchante_group</group>
            </merchante_cc_vault>
            <merchante_hosted_checkout>
                <active>0</active>
                <debug>1</debug>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <display_on_shopping_cart>1</display_on_shopping_cart>
                <is_gateway>1</is_gateway>
                <model>MerchanteHostedCheckoutFacade</model>
                <order_status>processing</order_status>
                <paymentInfoKeys>cc_type,cc_number,transaction_id,error_code,avs_result,auth_code,auth_response_text,cvv2_result</paymentInfoKeys>
                <privateInfoKeys>error_code,avs_result,auth_code,auth_response_text,cvv2_result</privateInfoKeys>
                <payment_action>authorize</payment_action>
                <title>Credit Card (MerchantE Hosted Checkout)</title>
                <currency>USD</currency>
                <profile_id/>
                <profile_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <user_id/>
                <useccv>1</useccv>
                <cctypes_merchante_mapper><![CDATA[{"american-express":"AE","discover":"DI","jcb":"JCB","mastercard":"MC","master-card":"MC","visa":"VS","maestro":"MI","diners-club":"DN","unionpay":"UN"}]]></cctypes_merchante_mapper>
                <gateway_url><![CDATA[https://www.merchante-solutions.com/jsp/tpg/secure_checkout.jsp]]></gateway_url>
                <use_level_iii>0</use_level_iii>
                <client_reference_number>Order #[orderid]</client_reference_number>
                <allowspecific>0</allowspecific>
                <group>merchante_group</group>
            </merchante_hosted_checkout>
        </payment>
    </default>
</config>
